{
  "server": [
    "wss://chat.echovroom.live:8989",
    "https://chat.echovroom.live:8089"
  ],
  "iceServers": [
    {"urls": "stun:chat.echovroom.live"},
    {"urls": "turn:chat.echovroom.live", "username": "turn", "credential": "hinterseer"}
  ],
  "room": 777
}
