{
  "server": [
    "wss://chat.echovroom.live/janus_ws",
    "https://chat.echovroom.live/janus"
  ],
  "iceServers": [
    {"urls": "stun:chat.echovroom.live"},
    {"urls": "turn:chat.echovroom.live", "username": "turn", "credential": "hinterseer"}
  ],
  "room": 777
}
