:root {
  --color-bg: #111;
  --color-bg-trans: rgba(0,0,0, 0.7);
  --color-fg: #eee;
  --color-alert: red;
  --color-bg-footer: #333;
  --color-bg-nav: #000;
  --color-a: #eeeeee;
  --color-a-hover:#fff;
}
img {filter:invert(0.93)}


.navbar,
.navbar, .navbar-menu, .dropdown-content {
  background-color:var(--color-bg);
    color:var(--color-fg);
}
.navbar .navbar-brand a:hover,
  .navbar .navbar-menu .navbar-item:hover,
  .navbar .navbar-menu .navbar-item:hover a,
  .navbar.is-transparent a.navbar-item:hover {
     color:var(--color-bg) ;
    background:var(--color-fg) !important;
}
.dropdown-item {
  border: 1px solid var(--color-fg);
}

.dropdown-content .dropdown-item a .icons, .dropdown-item a { color:var(--color-a) ; background:var(--color-bg) !important;}
.dropdown-content .dropdown-item  { color:var(--color-fg);}

.stage {
  background-image: url('/img/testbild2_inv.png');
  background-position: center;
  background
}

.home .logo {display: none}

/*-----------------------------*/
/*  vuetify overrides */
/*-----------------------------*/

.v-dialog { border: 1px solid var(--color-fg); }

.theme--light.v-sheet, .theme--dark.v-sheet,
.theme--light.v-card, .theme--dark.v-sheet {
  background-color:var(--color-bg);
  color: var(--color-fg)
}

@media (max-width:461px) {
  .navbar-menu.is-active {border-top:2px solid white}
  .navbar-menu.is-active {border-bottom:1px solid white}
}
