@font-face {font-family: "Arial Rounded MT";
  src: url("/fonts/Arial Rounded MT.eot");
  src: url("/fonts/Arial Rounded MT.eot?#iefix") format("embedded-opentype"),
  url("fonts/Arial Rounded MT.woff2") format("woff2"),
  url("/fonts/Arial Rounded MT.woff") format("woff"),
  url("/fonts/Arial Rounded MT.ttf") format("truetype"),
  url("/fonts/Arial Rounded MT.svg#Arial Rounded MT") format("svg");
}

.theme--dark.v-application {
  background: none;
}

:root {
  --color-bg: #64140b;
  --color-bg-trans: rgba(61,12,6, 0.7);
  --color-fg: #9d9d9d;
  --color-alert: #ac3f3f;
  --color-bg-footer: #3d0c06;
  --color-bg-nav: #3d0c06;
  --color-a: #9d9d9d;
  --color-a-hover:#FFFFCC;
  --font-body: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	--font-hdg: "Arial Rounded MT", Arial, Helvetica, sans-serif;
}

html {
  background-color:var(--color-bg);
}

#app {
  background-color:transparent;
}

.title {
  background: none !important;
  font-size:1.2em !important;
  color: #ffffff !important;
}

.navbar .navbar-brand a:hover {}
.navbar .navbar-menu .navbar-item:hover,
.navbar .navbar-menu .navbar-item:hover a,
.navbar.is-transparent a.navbar-item:hover {
  text-decoration: none;
  color:#ffffff;
  background:var(--color-bg) !important;
}
.navbar, .navbar-menu, .dropdown-content {
  color:#9d9d9d;
  background:var(--color-bg) !important;
}

.navbar .navbar-menu .navbar-item a {
  margin-right: 5px; margin-left: 5px;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}

.dropdown-content .dropdown-item, .dropdown .dropdown-menu .has-link a {color:var(--color-a);}
.dropdown-content .dropdown-item a .icons, .dropdown-item a { color:var(--color-a); background:var(--color-bg) !important;}

.about h1.title {
  background-color:var(--color-bg) !important;
  color:var(--color-fg) !important;
  padding-left: 0px;
  font-size: 1.5em !important;
  font-weight: bold;
}

.stage {
  background-image: url('https://porgy.at/static/img/poster.jpg');
  background-position: center;
  background-size: contain;
  background-size: 100%;
}

.logo{
  display: block;
  position: absolute;
  top:52px;
  left: 17px;
  height:85px;
  width:110px;
  background-image: url('https://porgy.at/static/img/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.home .logo {display: none}

/*-----------------------------*/
/*  vuetify overrides */
/*-----------------------------*/

.theme--light.v-sheet, .theme--dark.v-sheet,
.theme--light.v-card, .theme--dark.v-sheet {
  background-color:var(--color-bg);
  color: var(--color-fg)
}
.theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color:#ac3f3f;
}
.v-application .title
  { font-family: var(--font-body) !important}
/* .v-application .headline */
.v-card {
  background-color: var(--color-bg);
  color:  var(--color-fg);
}
.v-card > .v-card__text,
.v-card .v-card__subtitle {
  color:  var(--color-fg);
}
.v-card.v-card--outlined {
  border: thin solid var(--color-fg);
}

/*-----------------------------*/
/*  media queries              */
/*-----------------------------*/


@media (max-width:461px) {
  .logo{ width: 320px; top: 10px; left: 50%; height:32px; background-position: center; transform: translate(-50%, 0);}
}
