
:root {
	--color-bg: white;
  --color-bg-trans: rgba(255,255,255, 0.7);
	--color-fg: #666;
  --color-alert: red;
  --color-bg-footer: #f9f9f9;
  --color-bg-nav: #ffffff;
  --color-a: #555;
  --color-a-hover:#000;
  --font-body: "Asap Condensed", Arial, Helvetica, sans-serif;
	--font-hdg: "Asap Condensed", Arial, Helvetica, sans-serif;
}

.stage {
    background-image: url('/img/testbild2.jpg');
    background-position: center;
    background-size: contain
}

#app {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-fg);
  background: var(--color-bg);
}

*:focus {
    outline: none;
}

a, .v-application a,
a:hover {color:var(--color-a-hover)};
.shortcuts a {color:var(--color-a)};

/*-----------------------------*/
/* navbar */
/* -------------------------- */

.navbar-menu.is-active { z-index: 1030; position: absolute;width: 100%}
.navbar .navbar-item a,
.navbar .navbar-brand a {
  color:var(--color-a); text-decoration: none; text-transform: uppercase;
  background:var(--color-bg);
}
.navbar .navbar-brand a:hover,
.navbar .navbar-item a:hover {
  color:var(--color-a-hover);
  background:var(--color-bg);
}
.navbar .dropdown-content svg { margin:0; padding-left: 3px; padding-bottom: 3px}
.navbar .navbar-item.is-active a { font-weight:500; text-decoration: none; color:#333}
.navbar { margin-bottom:0px; background:var(--color-bg);}
.navbar-menu {
  background:var(--color-bg);
}

/*-----------------------------*/
/* SITE elements */
/* --------------------------*/

.logo {display: none}

.embed-container { position: relative; padding:0; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;}
.embed-container iframe, .embed-container object, .embed-container embed, .embed-container div
  { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.header { flex: 0 0 auto; font-size: 0.9em}
.headers { background: none; border-bottom: 1px solid var(--color-fg); padding:5px 5px; margin-bottom: 0.5rem !important}

.participant_counter {  margin-left: 1em;}
.participant_counter .icons { vertical-align:text-top; margin:0px}

.about, .calendar {
  background: var(--color-bg);
  max-width: 100%;
  opacity: 0.9 !important;
}
.about a, .shortcuts a { color:var(--color-a) !important}
.about h1.title { margin-bottom: 2rem}
.about, .calendar  { text-align: left; padding: 1rem}

.calendar .calendar-date {
  font-size: calc(var(--fontSize) * 0.8);
  font-weight: bolder;
  display: block;
}
.calendar .calendar-entry { display: block; margin-bottom: 1em}

.home { text-align:center; z-index:20;  }
.home input {
  border:0px; border-bottom: 1px solid var(--color-fg); background:none; font-size:1.3rem; text-align:center;
  padding: 5px;
}
.home input::placeholder { opacity: 0.2}
.home .logo { z-index:0;width:480px; height:480px; position: fixed; bottom:-180px; left: 80%; transform: translate(-50%,0); overflow:hidden}

.shortcuts { max-width: 90%; padding: 50px 0px; margin:auto;}
.shortcuts a { margin:10px;  padding:1px 5px}
.shortcuts .title { opacity:0.2}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 201;
  padding:0px;
  font-size: .75em; line-height: 1.2em;
  background: var(--color-bg-footer);
  ;padding:5px
}
footer a {color:var(--color-a) !important; text-decoration:underline}

.loading {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
.loadingComponent {background:var(--color-bg) !important; opacity: 0.7}


/*-----------------------------*/
/*  Icon settings
/*-----------------------------*/

.icons { vertical-align: middle; margin:0px 3px}
.linked { cursor:pointer; color: var(--color-fg)}
.overlay .linked  {color: white;}
.linked:hover { opacity:0.8 }
svg.linked:hover {   transform: scale(1.2); }

/*-----------------------------*/
/*  vuetify overrides */
/*-----------------------------*/

.theme--light.v-sheet, .theme--dark.v-sheet,
.theme--light.v-card, .theme--dark.v-sheet {
  background-color:var(--color-bg);
  color: var(--color-fg)
}

v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before,
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot::before,
.theme--light.v-text-field > .v-input__control > .v-input__slot::before,
.theme--light.v-input, .theme--light.v-input input, .theme--light.v-input textarea,
.v-input, .v-input input, .v-input textarea,
.v-input input::placeholder, .v-input textarea::placeholder,
.theme--light.v-input input::placeholder, .theme--light.v-input textarea::placeholder,
.v-text-field > .v-input__control > .v-input__slot:after,
.v-text-field > .v-input__control > .v-input__slot::before {
  border-color: var(--color-fg);
  color: var(--color-fg);
  font-size:100%;
}
.v-input input::placeholder, .v-input textarea::placeholder,
.theme--light.v-input input::placeholder, .theme--light.v-input textarea::placeholder {
  opacity: 0.7;
}

/*-----------------------------*/
/* TRANSITIONS and ANIMATIONS*/
/*-----------------------------*/

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/*-----------------------------*/
/*  media queries  */
/*-----------------------------*/

@media (max-width:1440px) {
  .max-width {  }
}

@media (max-width:1024px) {
.navbar {position: absolute !important; width:100% ;}
}

@media (max-width:461px) {
  .navbar {position: absolute !important; width:100%;z-index: 201 !important}
  .navbar { margin-bottom:10px;}
  .stageroom { padding: 0 15px 0 10px;}
  .logo {z-index: 202}
  .home .logo { z-index:20;width:256px; height:256px; position: fixed; bottom:-80px; left: 50%; transform: translate(-50%,0); overflow:hidden}
  footer { font-size: 0.5em}
}
